.overlay{
  width:100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background : rgba(50,50,50,0.8);
  z-index: 150;
  cursor: pointer;
}


.modal-img img{
 width: 12vw;
 height: 8vw;
 border-radius: 5px;
 object-fit: cover;
 transition: all .2s;

}

.modal-img img:hover{
  cursor: pointer;
  border: 1px solid #FF145F;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: scale(1.1);
}

.modal-content{
  position: absolute;
  top: 50%;
  left: -60%;
  transform: translate(-50%,-50%);
  background-color:white;
  border-radius:5px;
  z-index: 200;
}

.modal-content img{
  width: 400px;
  padding: 15px 50px;
}
