.Preloader{
  background-color: #26263B;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  transition: all 0. ease-out;
}

img{
  max-width: 15vw;
  margin: 2rem 0;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 1s;

}